# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
unit-test-framework
search-server/build
operator-reset
Framework-unit
unit-test-search-server
search-server/main
.vscode
.gitignore
unit-test/main.cpp
unit-test/main
.vscode/settings.json
.gitignore
constructor-search-system
reset-operator-w
use_exception_code
optional-code
try_cath_throw
search-server_backup
tmp
recurcev_hanoi
search_9
sort_element
lesson2
8-algorithm
Query_queq_search
search-server_backup3
project (3)
deka_qqqq
stack
search-server_bckup2
timer