# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
unit-test-framework
search-server/build
operator-reset
Framework-unit
unit-test-search-server
search-server/main
.vscode
.gitignore
unit-test/main.cpp
unit-test/main
.vscode/settings.json
.gitignore
constructor-search-system
reset-operator-w